header {
	display:block;
	padding:1px;
/*	background:hsla(88, 0%, 9%, 0.51);*/
    color:white;
    text-align:center;
    font-size: 120%;
    font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}

h1 {
	font-size:240%
}

body {
    background: #7a2c0c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ad6143, #7a2c0c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ad6143, #7a2c0c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



div#container {
    width: 75%;
    margin: auto;
    padding:30px;


    color: azure;
    font-size: 150%;
    background-color: rgba(128,128,128,0.5);
}

p#centering {
    text-align: center;
}
