header {
	display:block;
	padding:25px;
    background:#333;
    border-radius: 30px;
    font-family: arial, sans-serif;

    font-style: normal;
    color:white
    
}

h1 {
	font-size:280%
}

h2 {
    font-size:200%;
    font-family: arial, sans-serif;
}

body {
    background-color: #C83C35;
}

div#container {
    width: 75%;
    margin: auto;
    padding:30px;
    background-color:white
    
}

p#anzyu{
     font-family: arial, sans-serif;
}

a.anzyu{
    font-size: 140%;
    color: #C83C35;
}