header {
	display:block;
	padding:20px;
    background:#121212;
    border-radius: 20px;
    font-family: arial, sans-serif;

    font-style: normal;
    color:white
    
}

h1 {
	font-size:240%
}

h2 {
    font-size:200%;
    font-family: arial, sans-serif;
}

body {
    background: rgb(200, 162, 200);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #00d9ff, #031579);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #00d9ff, #031579); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

img {
    max-width: 100%;
    height: auto
}

div#container {
    width: 75%;
    margin: auto;
    padding:30px;
    background-color:white;
    
}

p#anzyu{
     font-family: arial, sans-serif;
}

a.anzyu{
    font-size: 140%;
    color: #C83C35;
}

p#subaru{
    font-family: arial, sans-serif;
}

a.subaru{
   font-size: 140%;
   color: #ff4500;
}

p#hubuki{
    font-family: arial, sans-serif;
}

a.hubuki{
   font-size: 140%;
   color: #00ffff;
}